hr.red-line {
    border: 1px solid #974A4A;
    ;
  }

img.purchased-drink {
    height: 6rem;
    width: 6rem;
    object-fit: cover;
    border-radius: 1rem;
}

.pay-modal{
  color: #469F74;
  width: 100%;
  border-radius: 15px!important;
  padding: 30px 20px!important;
}

.pay-notif{
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}