.product-name{
    font-family: 'Mukta', sans-serif;
    font-size: 35px;
}

.topping-name{
    text-align: justify;
}

.footer-left{
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    text-align: left;
}

.footer-right{
    font-family: 'Mukta', sans-serif;
    font-size: 25px;
    text-align: right;
}

.btn-cart{
    margin-top: 3rem;
}